body {
    min-height: 100vh;
}
body > div{
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}
main{
    overflow-y: auto;
    width: 100%;
}
.sidebar, .sidebar-content {
    height: 100vh;
    max-height: 100vh;
}
.sidebar-content{
    min-width: 270px;
}
#btn-collapse-sidebar{
    border-radius: 0px;
    --bs-btn-padding-x: 0.25rem;
}
.dropdown-toggle { outline: 0; }

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}
.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}
.scrollarea {
    overflow-y: auto;
}

#block-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100%;
    height: 100%;
    opacity: .75;
}

table .dropdown-menu i{
    min-width: 22px;
}
table td .dropstart {
    text-align: center;
}

.table-border-external {
    border: 1px solid;
    border-color: var(--bs-table-border-color);
}

/** SIDEBAR **/
.sb-links-link{
    margin-left: 1.9rem;
}

.sb-links-heading{
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}
.sb-links-heading i{
    width: 1.5rem;
}
.nav-item .sb-links-heading
/*
.bd-links-link:hover, .bd-links-link:focus, .bd-links-link.active {
    color: var(--bs-emphasis-color);
    background-color: var(--bs-primary);
}*/
